@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Kavoon', cursive;
}

#game-area {
    height: 50vh;
    width: 60%;
    background-color: #f6f6f6;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.image-holder {
    width: 45%;
    height: 100%;
}

#player-area {
    float: left;
}

#player-area img {
    max-width: 100%;
    height: auto;
}

#computer-area {
    float: right;
}

#computer-area img {
    max-width: 100%;
    height: auto;
}

#player-score {
    color: lightgreen;
}

#computer-score {
    color: lightcoral;
}